@font-face {
   font-family: 'Advertising Script Bold Trial';
   font-display: swap;
   src: url('file:///C:/Users/arif3/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-25_010947/fonts/Advertising%20Script%20Bold%20Trial/font.ttf');
}
